.scroll-pane,
.tree-view,
.list-view {
	-fx-background-insets: 0, 1 0 0;
	-fx-background-color: -fx-box-border, -fx-control-inner-background;
	/*-fx-padding: 0;*/
}

.scroll-pane {
	-fx-padding: 0;
}

.split-pane {
	-fx-background-insets: 0;
	-fx-padding: 0;
}