.scroll-pane,
.tree-view,
.list-view {
	-fx-background-insets: 0, 1 0 0;
	-fx-background-color: -fx-box-border, -fx-control-inner-background;
	/*-fx-padding: 0;*/
}

.scroll-pane {
	-fx-padding: 0;
}

.split-pane {
	-fx-background-insets: 0;
	-fx-padding: 0;
}

.property-sheet .tool-bar {
	-fx-alignment: top-right;
	-fx-max-height: 0;
	-fx-background-insets: 0, 0 0 1;
	-fx-padding: 0;
	-fx-background-color: -fx-box-border, -fx-background;
	-fx-min-height: 51;
	-fx-padding: 14 12 0 0;
}

.property-sheet  {
	-fx-background-insets: 0;
	-fx-padding: 0;
	-fx-background-color: -fx-background;
}

