.label-header {
	-fx-font-size: 18;
}

.scroll-pane,
.tree-view,
.list-view {
	-fx-background-insets: 0, 1 0 0;
	-fx-background-color: -fx-box-border, -fx-control-inner-background;
	/*-fx-padding: 0;*/
}

.scroll-pane {
	-fx-padding: 0;
}

.split-pane {
	-fx-background-insets: 0;
	-fx-padding: 0;
}

.property-sheet  {
	-fx-background-insets: 0;
	-fx-padding: 0;
	-fx-background-color: -fx-background;
}

.property-sheet .tool-bar {
	-fx-alignment: top-right;
	-fx-max-height: 0;
	-fx-background-insets: 0, 0 0 1;
	-fx-padding: 0;
	-fx-background-color: -fx-box-border, -fx-background;
	-fx-min-height: 51;
	-fx-padding: 14 12 0 0;
}

.tool-bar-overflow-button {
	-fx-pref-width: 0; /* stops moving buttons  */
	-fx-scale-z: 0; /* disables mouse events */
	-fx-opacity: 0; /* visually hides it */
}


.icon-empty {

}
.icon-valid {
	-fx-background-image: url("/icons/if_sign-check_299110.png");
	-fx-background-repeat: no-repeat;
	-fx-background-size: auto 80%;
	-fx-background-position: 98% center;
}
.icon-invalid {
	-fx-background-image: url("/icons/if_sign-error_299045.png");
	-fx-background-repeat: no-repeat;
	-fx-background-size: auto 80%;
	-fx-background-position: 98% center;
}
